.red{
    color: rgb(255, 55, 0);
}

.teal{
    color: rgb(5, 156, 156);
}

.box{
    width: 40%;
    margin: auto;
    border: 2px solid black;
    height: 200px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: lightblue;
}

.inc , .dec , .dbl{
    width: 100px;
    background-color: lightpink;
    height: 40px;
    margin: 5px;
}